<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			Input Groups
		</h3>
	</div>
	<form>
        <div class="form-group">
            <label class="control-label">Metadata</label>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Nr.</span>
                <input type="text" class="form-control" placeholder="Invoice nr., or similar">
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Type</span>
                <input type="text" class="form-control" placeholder="Cost type">
            </div>
	</div>
	<div class="row form-group">
	    <div class="col-6 input-group input-group-sm">
                <span class="input-group-addon">Issued</span>
		<input type="date" class="form-control" placeholder="dd/mm/yy">
	    </div>
	    <div class="col-6 input-group input-group-sm">
                <span class="input-group-addon">Taxable</span>
		<input type="date" class="form-control" placeholder="dd/mm/yy">
	    </div>
	</div>


        <div class="form-group">
            <label class="control-label">Supplier</label>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" placeholder="Supplier name">
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Address</span>
                <input type="text" class="form-control" placeholder="Supplier address">
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">DOB</span>
                <input type="text" class="form-control" placeholder="Datum narození">
            </div>
	</div>
	<div class="row form-group">
	    <div class="col-6 input-group input-group-sm">
                <span class="input-group-addon">ID</span>
		<input type="text" class="form-control" placeholder="IČO">
	    </div>
	    <div class="col-6 input-group input-group-sm">
                <span class="input-group-addon">VAT-ID</span>
		<input type="text" class="form-control" placeholder="DIČ">
	    </div>
	</div>

    </form>
</div>